body {
    background-color: #2d2b2b; /*#0d1117*/
   color: #c9d1d9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

b {
    font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #981118;
    margin-top: 24px;
    margin-bottom: 16px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4,
h5,
h6 {
    font-size: 1em;
}

a {
    color: #981118;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    padding-left: 20px;
}

code {
    background-color: #242424;
    border-radius: 6px;
    color: #d2a8ff;
    padding: 0.2em 0.4em;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

pre code {
    padding: 0;
}

pre {
    background-color: #242424;
    border-radius: 6px;
    padding: 0.2em 0.4em;
}

blockquote {
    background-color: #242424;
    border-left: 4px solid #30363d;
    padding-left: 2em;
    margin-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    color: #8b949e;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}
 
.kanizsa-triangle {
  position: relative;
  width: 33.75px; /* Adjust the size as needed */
  height: 33.75px;
}

.triangle-down {
    position: absolute;
    top: 25%; /* Adjust as needed */
    left: 50%; 
    transform: translate(-50%, -25%);
    width: 0;
    height: 0;
    border-left: 18.75px solid transparent;
    border-right: 18.75px solid transparent;
    border-top: 32.25px solid #2d2b2b; /* Adjust height as needed */
    z-index: 10; /* Ensure the triangle is on top */
}

.circle {
    position: absolute;
    width: 15px;  /* Adjust as needed */
    height: 15px; /* Adjust as needed */
    border-radius: 50%;
    background-color: white;
    border: .5px solid #2d2b2b;
    z-index: 5; /* Ensure circles are behind the triangle */
}

.circle1 {
    top: 90%; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle2 {
    top: 0%; /* Adjust as needed */
    left: 0%;
    transform: translate(-50%, -50%);
}

.circle3 {
    top: 0%; /* Adjust as needed */
    left: 100%;
    transform: translate(-50%, -50%);
}

